<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link" href="/db-client-connect/saveDatabase">Cadastrar DB</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/db-client-connect/databases">Meus bancos de dados</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/db-client-connect/send-to-application">Enviar dados para aplicação</a>
  </li>

</ul>