{{> head}}
<div class="container-fluid p-5">
  <div class="row text-center">
    <div class="col-2">
      {{> menu}}
    </div>
    <div class="col-10">

      <h4 class="mt-4">Faça o envio dos dados para aplicação MAINSSELL</h4>
      <h5 class="mt-1">Clique no botão ABAIXO para iniciar o processo.</h5>

      <button id="btnSendtoApp" type="submit" class="btn btn-primary w-25 m-auto mt-4">
        <span>ENVIAR INFORMAÇÕES DA TABELA PARA APLICAÇÃO</span>
      </button>

      <div id="spinner01" class="invisible d-block m-auto mt-5 mb-2 spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span id="text-spinner" class="invisible mt-2">Fazendo o envio dos dados da tabela para aplicação...</span>
      
    </div>
  </div>
</div>

<script>
  const btnSendtoApp = document.getElementById('btnSendtoApp')

  const spinner01 = document.getElementById('spinner01')
  const textSpinner = document.getElementById('text-spinner')

  btnSendtoApp.onclick = async () => {
    try {
      await spinner01.classList.remove('invisible')
      await textSpinner.classList.remove('invisible')

      const result = await fetch('http://localhost:3008/db-client-connect/send-to-application', { method: 'POST' })

      if(result.ok) {
        await spinner01.classList.add('invisible')
        await textSpinner.classList.add('invisible')
      }
    } catch(err) {
      console.log("Error Message: ", err)
    }
  }

</script>
{{> footer}}